asn1crypto==0.24.0
beautifulsoup4==4.8.0
boto3==1.9.200
botocore==1.12.200
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.4
docutils==0.14
future==0.17.1
google-api-python-client==1.7.10
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.13.1
idna==2.8
itunespy==1.5.5
jmespath==0.9.4
mutagen==1.42.0
oauth2client==4.1.3
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyDrive==1.3.1
python-dateutil==2.8.0
python-telegram-bot==11.1.0
pytube==9.5.1
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
rsa==4.0
s3transfer==0.2.1
schedule==0.6.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.3
wget==3.2
youtube-dl==2019.8.2
